<!DOCTYPE html>
html(lang="ua")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Parkett Prestige XT
body
  style
    include style.css
  .tms-main-container
    #tms-section-1.tms-section
      .tms-logo
        img.tms-img-resp(src="img/tms-logo-germany.svg", alt="Thomas")
      .tms-content
        .tms-content-left
          .tms-h1
            | Parkett Prestige XT
          .tms-p
            | Безмішковий миючий пилосос преміум класу - бездоганна чистота в домі й професійний догляд за паркетом.
            br
            | Високоефективна система водяної фільтрації 
            strong THOMAS AquaBOX.
            br
            | Якісне миття і сухе прибирання паркету + великий набір інших функцій.
          .tms-list
            .tms-item
              img.tms-img-resp(src="img/tms-section-1-icon-1.svg", alt="AquaBOX")
              .tms-p
                | AquaBOX
            .tms-item
              img.tms-img-resp(src="img/tms-section-1-icon-2.svg", alt="Догляд за паркетом і ламінатом")
              .tms-p
                | Догляд за паркетом і ламінатом
          .tms-list
            .tms-item
              img.tms-img-resp(src="img/tms-section-1-icon-3.svg", alt="Вологе прибирання")
              .tms-p
                | Вологе прибирання
            .tms-item
              img.tms-img-resp(src="img/tms-section-1-icon-4.svg", alt="Сухе прибирання")
              .tms-p
                | Сухе прибирання
            .tms-item
              img.tms-img-resp(src="img/tms-section-1-icon-5.svg", alt="Збирання води")
              .tms-p
                | Збирання води
        .tms-content-right
          img.tms-img-resp(src="img/tms-section-1-vc.png", alt="Thomas DryBOX Amfibia Family")
            
    #tms-section-2.tms-section
      .tms-h2
        | Система фільтрації
      .tms-content
        .tms-item
          img.tms-img-resp.tms-right-shadow(src="img/tms-section-2-img-1.jpg", alt="THOMAS AquaBOX")
        .tms-item
          .tms-p
            strong Унікальний водяний фільтр THOMAS AquaBOX із технологією придушення пилу водяним туманом (WET-JET System)
          .tms-p
            | Після прибирання всередині пилососа залишається 99,99% в пилу і 100% пилку. Приголомшливий результат!
          a.tms-p.tms-youtube-button(href="https://thomas.support/r/1718", target="_blank")
            | Як працює THOMAS AquaBOX
      .tms-content
        .tms-item
          .tms-p
            strong Фільтр тонкої очистки НЕРА
          .tms-p
            | Служить для утримання найдрібніших частинок пилу. Назад до приміщення виходить тільки свіже очищене повітря.
        .tms-item
          img.tms-img-resp.tms-left-shadow(src="img/tms-section-2-img-2.jpg", alt="НЕРА")
            
    #tms-section-3.tms-section
      .tms-h2
        | Альтернативні системи фільтрації
      .tms-content
        .tms-item
          img.tms-img-resp.tms-right-shadow(src="img/tms-section-3-img-1.jpg", alt="THOMAS DryBOX")
        .tms-item
          .tms-p
            strong Інноваційна система фракційного поділу пилу THOMAS DryBOX*
          .tms-p
            | Різні відсіки пилозбірника для крупного сміття та дрібного пилу. Постійно готовий до роботи й не потребує регулярного очищення. Швидке, гігієнічне й комфортне прибирання.
          .tms-p
            | *в комплектацію не входить, можна придбати додатково
          a.tms-p.tms-youtube-button(href="https://thomas.support/r/1719", target="_blank")
            | Як працює THOMAS DryBOX
      .tms-content
        .tms-item
          .tms-p
            strong НЕРА-мішок XXL об’єму*
          .tms-p
            | Мішок об&#39;ємом 6 л з НЕРА-матеріалу. Зручний для оперативного прибирання, а також для збирання грубого або специфічного сміття.
          .tms-p
            | *в комплектацію не входить, можна придбати додатково
        .tms-item
          img.tms-img-resp.tms-left-shadow(src="img/tms-section-3-img-2.jpg", alt="НЕРА-мішок XXL")
          
    #tms-section-4.tms-section
      img.tms-img-resp.tms-right-shadow(src="img/tms-section-4-img.jpg", alt="Основні переваги")
      .tms-content
        .tms-h2
          | Основні переваги
        .tms-list
          .tms-p.tms-i
            | Зроблено в Німеччині
          .tms-p.tms-i
            | Високоефективна система водяної фільтрації
          .tms-p.tms-i
            | Фільтр НЕРА, що миється
          .tms-p.tms-i
            | Вільне дихання для алергіків
          .tms-p.tms-i
            | Без мішків-пилозбірників
          .tms-p.tms-i
            | Делікатне прибирання паркету й ламінату
          .tms-p.tms-i
            | Безпечне миття паркету та дерев&#39;яних підлог
          .tms-p.tms-i
            | Можливість установки альтернативної системи фільтрації
          .tms-p.tms-i
            | Стабільно висока потужність всмоктування
          .tms-p.tms-i
            | Простота експлуатації
          .tms-p.tms-i
            | Сухе прибирання
          .tms-p.tms-i
            | Вологе прибирання
          .tms-p.tms-i
            | Збирання рідин і мокрого сміття
          
    #tms-section-5.tms-section
      .tms-h2
        | Зручне прибирання і простий догляд
      .tms-content
        .tms-item
          .tms-p
            | Підготовка до роботи й обслуговування після прибирання займають всього декілька хвилин. Для сухого прибирання потрібно залити в 
            strong AquaBOX 
            | 1 л звичайної води, а потім вилити її разом зі сміттям і брудом.
        .tms-item
          img.tms-img-resp.tms-left-shadow(src="img/tms-section-5-img-1.jpg", alt="Для сухого прибирання потрібно залити 1 л звичайної води")
      .tms-content
        .tms-item
          img.tms-img-resp.tms-right-shadow(src="img/tms-section-5-img-2.jpg", alt="У режимах вологого прибирання або збирання рідин вода заливається в окремий резервуар")
        .tms-item
          .tms-p
            | У режимах вологого прибирання або збирання рідин вода заливається не в 
            strong AquaBOX, 
            | а в окремий резервуар, який розташований на зовнішній стороні корпусу пилососа й легко знімається. При необхідності в воду для миття можна додати миючий засіб 
            strong THOMAS ProTex 
            | (є в комплекті).
      .tms-content
        .tms-item
          .tms-p
            | Зібрана вода або рідкий бруд потрапляють у порожню ємність 
            strong AquaBOX 
            | і виливаються після закінчення прибирання.
        .tms-item
          img.tms-img-resp.tms-left-shadow(src="img/tms-section-5-img-3.jpg", alt="Зібрана вода або рідкий бруд виливаються після закінчення прибирання")
            
    #tms-section-6.tms-section
      .tms-h2
        | Сухе прибирання
      .tms-content
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1720", target="_blank")
            img.tms-img-resp.tms-right-shadow(src="img/tms-section-6-img-1.jpg", alt="Перемикна насадка килим/підлога з автоматичним LED підсвічуванням")
          .tms-p
            strong Перемикна насадка килим/підлога з автоматичним LED підсвічуванням
          .tms-p
            | для якісного прибирання килимових і гладких підлогових покриттів, ретельного збирання сміття в погано освітлених місцях.
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1721", target="_blank")
            img.tms-img-resp.tms-left-shadow(src="img/tms-section-6-img-2.jpg", alt="Насадка для паркету з натуральним кінським волосом і повстю")
          .tms-p
            strong Насадка для паркету з натуральним кінським волосом і повстю
          .tms-p
            | для дбайливого і якісного очищення паркету, ламінату, дерев&#39;яної підлоги.
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1723", target="_blank")
            img.tms-img-resp.tms-right-shadow(src="img/tms-section-6-img-3.jpg", alt="Щілинна насадка, подовжена (360 мм)")
          .tms-p
            strong Щілинна насадка, подовжена (360 мм)
          .tms-p
            | для збирання пилу й сміття у важкодоступних місцях: щілинах між подушками меблів, зазорах, стиках і ін.
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1724", target="_blank")
            img.tms-img-resp.tms-left-shadow(src="img/tms-section-6-img-4.jpg", alt="Насадка для чищення м&#39;яких меблів")
          .tms-p
            strong Насадка для чищення м&#39;яких меблів
          .tms-p
            | для швидкого й ретельного чищення крісел, диванів і т. п.
            
    #tms-section-7.tms-section
      .tms-h2
        | Насадка Aqua-Stealth
      .tms-content
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1725", target="_blank")
            img.tms-img-resp.tms-right-shadow(src="img/tms-section-7-img.jpg", alt="Насадка Aqua-Stealth")
        .tms-item
          .tms-p
            | Cпеціально для дбайливого очищення паркету, ламінату й інших чутливих підлогових покриттів.
          .tms-p
            | Вологе прибирання паркету й ламінату з використанням мінімальної кількості рідини, яка рівномірно надходить на м&#39;яку серветку з мікроволокна.
          .tms-p
            |  Одночасне ретельне просушування поверхні.
          .tms-p
            | Немає зайвої вологи - немає ризику набухання й пошкодження паркету!
            
    #tms-section-8.tms-section
      .tms-h2
        | Вологе прибирання і збирання рідин
      .tms-content
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1729", target="_blank")
            img.tms-img-resp.tms-right-shadow(src="img/tms-section-8-img-1.jpg", alt="Широка миюча насадка для килимів")
          .tms-p
            strong Широка миюча насадка для килимів
          .tms-p
            | для глибокого вологого чищення килимів, видалення плям, відновлення висоти ворсу.
        .tms-item
          a.tms-youtube-card(href="https://youtu.be/X8LztEdC224", target="_blank")
            img.tms-img-resp.tms-left-shadow(src="img/tms-section-8-img-2.jpg", alt="Адаптер для твердих покриттів")
          .tms-p
            strong Адаптер для твердих покриттів
          .tms-p
            | для якісного миття гладких підлогових покриттів (кахельної плитки і т. п.) без розводів і крапель.
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1727", target="_blank")
            img.tms-img-resp.tms-right-shadow(src="img/tms-section-8-img-3.jpg", alt="Вузька миюча насадка")
          .tms-p
            strong Вузька миюча насадка
          .tms-p
            | використовується для ефективного чищення диванів, крісел і т. п. Допомагає прибрати бруд і надати м&#39;яким меблям оновленого вигляду.
        .tms-item
          a.tms-youtube-card(href="https://thomas.support/r/1728", target="_blank")
            img.tms-img-resp.tms-left-shadow(src="img/tms-section-8-img-4.jpg", alt="Комфортне збирання води й мокрого сміття")
          .tms-p
            strong Комфортне збирання води й мокрого сміття
          .tms-p
            | «швидка допомога» в екстреній ситуації (наприклад, при прориві труби) дозволяє швидко зібрати великий об’єм води й уникнути наслідків потопу.
            
    #tms-section-9.tms-section
      img.tms-img-resp.tms-right-shadow(src="img/tms-section-9-img.jpg", alt="Особливості конструкції")
      .tms-content
        .tms-h2
          | Особливості конструкції
        .tms-list
          .tms-p.tms-i
            | Ударостійкий пластик
          .tms-p.tms-i
            | Маневреність
          .tms-p.tms-i
            | Прогумовані кнопки управління
          .tms-p.tms-i
            | Дистанційний пульт управління на шлангу
          .tms-p.tms-i
            | Автоматичне змотування кабелю
          .tms-p.tms-i
            | Телескопічна труба з нержавіючої сталі
          .tms-p.tms-i
            | Електронне плавне регулювання потужності на корпусі (TouchTronic)
          .tms-p.tms-i
            | Горизонтальне й вертикальне паркування
          
    #tms-section-10.tms-section
      .tms-h2
        | Технічні характеристики
      .tms-content
        .tms-item
          .tms-p
            | Потужність двигуна – 
            strong 1700 Вт
        .tms-item
          .tms-p
            | Обсяг води, що всмоктуєтьсяи – 
            strong 2,6 л
        .tms-item
          .tms-p
            | Резервуар для миючого засобу – 
            strong 1,8 л
        .tms-item
          .tms-p
            | Радіус прибирання – 
            strong 12 м
        .tms-item
          .tms-p
            | Продуктивність насоса миючого засобу – 
            strong 0,35 л/хв
        .tms-item
          .tms-p
            | Габарити: довжина – 
            strong 486 мм, 
            | ширина – 
            strong 318 мм, 
            | висота – 
            strong 306 мм
